doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // css/js
    link(rel='stylesheet' type='text/css' href='/assets/css/app.css')
    link(rel='stylesheet' type='text/css' href='/assets/font-awesome-4.6.3/css/font-awesome.min.css')
    link(rel='shortcut icon' type='image/png' href='/assets/images/favicon.png')

    script(type='text/javascript' src='/assets/js/scale.fix.js' async)
    | {% if page.categories %}
    //- Posts specific js.
    script(type='text/javascript' src='/assets/js/jquery-3.1.1.min.js')
    script(type='text/javascript' src='/assets/js/jquery.smooth-scroll-2.1.2.min.js')
    script(type='text/javascript' src='/assets/js/contents.js')
    script(type='text/javascript' src='/assets/js/app.posts.js')
    | {% else %}
    //- General site js.
    | {% endif %}
    // end-css/js

    // feed
    | {% feed_meta %}
    // end-feed

    // meta
    - var title="{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | strip_html | escape }}"
    - var description="{% if page.title %}{{ page.excerpt | strip_html | escape }}{% else %}{{ site.description | strip_html | escape }}{% endif %}"
    - var pageurl="{% assign meta_url = site.url | append: site.baseurl %}{{ page.url | prepend: meta_url }}"
    - var imageurl="{% if page.image %}{{ page.image | prepend: site.images_dir | prepend: site.url }}{% else %}{{ site.logo | prepend: site.images_dir | prepend: site.url }}{% endif %}"
    - var ogtype="{% if page.categories %}article{% else %}website{% endif %}"

    title= title
    meta(name="description" content!=description)
    link(rel="canonical" href=pageurl)

    //- Facebook open graph rich data markup.
    //- https://developers.facebook.com/docs/sharing/webmasters#markup
    meta(property="og:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:description" content!=description)
    meta(property="og:url" content=pageurl)
    meta(property="og:image" content=imageurl)
    meta(property="og:type" content=ogtype)

    //- Google schema.org ld+json rich data markup
    //- https://developers.google.com/search/docs/guides/intro-structured-data#markup-formats-and-placement
    script(type='application/ld+json').
      {% if page.categories %}
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
        "dateModified": "{% if page.dateModified %}{{ page.dateModified | date: '%Y-%m-%d' }}{% else %}{{ page.date | date: '%Y-%m-%d' }}{% endif %}",
        "description": "{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html | escape }}",
        "url": "#[=pageurl]",
        "author": "{{ site.author }}",
        "publisher": {
          "@type": "WebSite",
          "name": "{{ site.title }}"
        },
        "image": {
          "@type": "ImageObject",
          "url": "#[=imageurl]"
        }
      }
      {% else %}
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{ site.title }}",
        "headline": "{{ site.title }}",
        "description": "{{ site.description }}",
        "url": "#[=pageurl]"
      }
      {% endif %}
    // end-meta

  body
    .wrapper
      header
        a(href="/")
          h1 @sonph
        nav
          ul
            li #[a(href="/") /home]
            li #[a(href="/projects") /projects]
            li #[a(href="/posts") /posts]
            li #[a(href="/about") /about]
          ul
            li
              a(href="https://github.com/sonph" target='_blank')
                i.fa.fa-lg.fa-github
            li
              a(href="https://linkedin.com/in/sonph" target='_blank')
                i.fa.fa-lg.fa-linkedin
            li
              a(href="https://twitter.com/_sonph" target='_blank')
                i.fa.fa-lg.fa-twitter
            li
              a(href="https://facebook.com/sonph86" target='_blank')
                i.fa.fa-lg.fa-facebook

        | {% if page.categories %}
        hr
        aside.contents.
        | {% endif %}

      section.
        {{ content }}

      footer.
        Built with #[a(href='http://jekyllrb.com') Jekyll].
        And #[a(href='http://jade-lang.org') Pug].
        And #[a(href='https://fontawesome.io' target='_blank') Font Awesome].
        Hosted with #[a(href='https://pages.github.com' target='_blank') Github Pages].
        Theme based on #[a(href='https://github.com/orderedlist/minimal' target='_blank') Minimal].
        Content by #[a(href='/about') @sonph]. &lt;3
